.App {
  text-align: center;
  background-image:url("https://th.bing.com/th/id/R.1871de5a15696af9e55180298eec2a1c?rik=g%2bJ8X%2flb%2fIAJOQ&pid=ImgRaw&r=0");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contenedormayor{
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
  flex-direction: column;
 
}
.contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  align-items: center;
  padding: 0.3rem;
  margin: 0.3rem;
  
}
.form-group{
  display: flex;
  justify-content: center;
  margin: 0.3rem;
}
.formlanding{
  position: fixed;
}
input{
  font-size: 16pt;
}
label,input,button,select,option{
  padding: 0.5rem;
  margin: 0.3rem;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 10px 0 rgba(20, 20, 20, 0.2);
}
button:hover,select:hover,option:hover{
  color: black;
  transition: 0.7s;
  background-color: #4deb52;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 30%;
}

.card:hover{
  background: #000508a9;  
  transition: 0.3s;
  font-size: larger;
}
.panel{
background-color:rgb(15 33 48);
margin-bottom: 0.3rem;
padding: 1rem;
border-radius:0 0 40% 40%;
color: white;
box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}
button,select,option{
  background-color: #28b92d; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  opacity: 1;
  
font-family: fantasy;
}
.imgcard{
  object-fit: cover;
  width:100%;
  height:50%;
}
.imglanding{
  width: 100%;
  height:  100vh;
  
}
.landing{
  display: flex;
border: 1px solid black;
justify-content: center;
align-items: center;
}
.b-landing:hover{
  font-size: 3rem;
  border-radius: 50%;
  width: 300px;
  height: 150px;
  background-color: orangered;
transition: 1s;
}
.b-landing{
  font-size: 3rem;
  border-radius: 20%;
  width: 250px;
  height: 100px;
  background-color: orange;
  
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* border: 5px solid pink; */
  padding-top: 2rem;
padding-bottom: 5rem;
padding-left: 1rem;
justify-content: space-evenly;

}
.card{
  border-radius: 7%;
  line-height: 13pt;
  letter-spacing: 0.5px;
  width: 300px;
  height: 450px;
  object-fit: cover;
  font-size: 1rem;
text-decoration: dotted;
text-align: center;
  background: #111c25a9;
  border: 1px solid #212731;
  color: white;
  margin: 6px;
  box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
  box-shadow: inset 0px 0px 10px 0 rgba(20, 20, 20, 0.2);
}
.navlink{
  color: rgb(141, 148, 42);
  
}
.imagenpanel{
  width: 15%;
}